environment:
  build_version: 6.4.0
  Version: $(build_version)-RC%APPVEYOR_BUILD_NUMBER%
version: $(build_version)-{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(build_version).0'
  assembly_file_version: '$(build_version).{build}'
  assembly_informational_version: '$(build_version)'
before_build:
 - cmd: nuget restore DependencyInjection.sln
build:
  project: DependencyInjection.sln
  publish_nuget: true
  verbosity: minimal
artifacts:
- path: Grace*.nupkg
  name: Grace
os: Visual Studio 2017
